<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<style>
    table {
        width: 80%;

        border: 1px solid #000;
    }
    th, td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;
    }
    caption {
        padding: 0.3em;
        color: #fff;
        background: #000;
    }
    th {
        background: #eee;
    }

</style>



<body>
    <h1 th:text="${titulo}" style="color: blue"> </h1>
    <div th:if="${usuarios.size()==0}"> No hay usuarios en la lista</div>

    <table  th:if="${usuarios.size() >0}">
        <thead class="columna">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </thead>
        <tbody class="borde">
            <tr class="fila" th:each="usuario: ${usuarios}">
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>