<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Envia parametros de request HTTP GET - URL</title>
</head>
<body>
    <h1>Envia paramtros del request HTTP GET - URL</h1>

    <ul>
        <li>
            <a th:href="@{/params/string(texto='Que tal William')}">/parms/string?texto=Que tal William!</a>

        </li>
        <li>
            <a th:href="@{/params/string(texto='Que tal Juan Andres')}">/parms/string?texto=Que tal    Juan Andres!</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo='Que bueno verte William', numero =20)}">/params/mix-params?saludos=Que bueno verte William&numero=20</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(saludo= 'Que bueno verte William', numero=20)}">/parms/mix-params-request?saludos=Que bueno verte William&numero=20</a>
        </li>


    </ul>


</body>
</html>